@import "src/assets/css/vars.scss";
.partners {
  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    height: 30vh;
    .title {
      font-size: 30px;
      color: $primary-color;
    }
    .sub-title {
      font-size: 0.9rem;
    }
    .deco {
      height: 2px;
      margin-bottom: 5vh;
      width: 20%;
      background: rgba(184, 180, 180, 0.5);
      img {
        position: relative;
        top: -1.2vh;
        left: 9vw;
      }
    }
  }
  .partner-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
