@import "src/assets/css/vars.scss";
.testimonials {
  display: flex;
  padding: 10vh 10vw;
  justify-content: space-between;
  flex-wrap: wrap;
  .faq {
    .faq-card {
      .faq-description {
        position: relative;
        animation-name: faq-animation;
        animation-duration: 0.3s;
        overflow: hidden;
      }
    }
    flex: 1;
    & > :first-child {
      font-size: 24px;
      color: $primary-color;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .testimonial {
    margin-left: 5vw;
    flex: 1;
    & > :first-child {
      font-size: 24px;
      color: $primary-color;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .testimonial-slider {
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      & > div {
        cursor: pointer;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid black;
        margin: 10px 4px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
          border: 2px solid #ed912acc;
        }
      }
    }
  }
}

//animations
@keyframes faq-animation {
  0% {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}
