.contact-us {
  text-align: center;
  .contact-title {
    background: #e6e9ed;
    padding: 4vh 6vw;
    .title {
      font-size: 24px;
    }
    .short-desc {
      font-size: 12px;
    }
  }
  .contact-details {
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    justify-content: space-around;
    .info {
      flex: 1;
      background: red;
      width: 40%;
    }
    .location {
      background: yellow;
      flex: 2;
      width: 50%;
    }
  }
}
