@import "src/assets/css/vars.scss";
.footer-div {
  margin-top: 10vh;
  background: #1a1a1a;
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 5vh 5vw;
    flex-wrap: wrap;
    color: white;
    .info {
      width: 30%;
      & > div {
        width: 100%;
      }
      .footer-desc {
        font-size: 14px;
        margin-top: 20px;
        opacity: 0.8;
      }
      .logo-div {
        margin-top: 10px;
        width: 100%;

        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
      .footer-social-links {
        margin-top: 20px;
      }
    }
    .recent-news {
      width: 30%;
      .footer-news {
        margin-top: 10px;
        .footer-news-title {
          text-transform: uppercase;
          font-size: 12px;
        }
        .footer-news-desc {
          font-size: 10px;
          opacity: 0.8;
        }
      }
    }
    .contacts {
      width: 30%;
      .footer-contact-items {
        margin: 20px 0;
        .footer-contact-item {
          margin-top: 4px;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          i {
            margin-right: 8px;
          }
        }
      }
    }
    .footer-image-slider {
      margin-top: 20px;
      height: 35vh;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .footer-title {
    width: 100%;
    background: $primary-color;
    padding: 4px 8px;
  }
  .copy-right {
    color: white;
    text-align: center;
    border-top: 1px solid $light-color;
    width: 88vw;
    margin-left: 6vw;
    padding: 20px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    .info{
      width: 100% !important;
    }
    .recent-news{
      margin-top: 20px;
      width: 100% !important;
    }
    .contacts{
      margin-top: 20px;
      width: 100% !important;
    }
  }
}
