@import "./src/assets/css/vars.scss";
.about {
  background: #5a5a5a;
  color: $light-color;
  padding-top: 30px;

  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    .title {
      font-size: 30px;
    }
    .sub-title {
      font-size: 0.9rem;
    }
    .deco {
      height: 2px;
      margin-bottom: 5vh;
      width: 20%;
      background: rgba(184, 180, 180, 0.5);
      img {
        position: relative;
        top: -1.2vh;
        left: 9vw;
      }
    }
  }
  .content-div {
    background: hsl(206, 62%, 59%);
    padding: 5vh 10vw;
    height: 100vh;
    .content {
      background: #000;
      position: relative;
      top: 14vh;
      display: flex;
      flex-wrap: wrap;
      background: #297ac6;
      justify-content: center;
      overflow: hidden;
      .column {
        width: 40vw;
        height: 70vh;
        min-width: 300px;
        box-sizing: border-box;
        animation-name: about-animation;
        animation-duration: .8s;
        position: relative;
        & > :first-child {
          border-bottom: 1px solid gray;
        }
        & > div {
          border-right: 1px solid gray;
          height: 35vh;
          padding: 30px 40px;
          .about-content-header {
            display: flex;
            & > div {
              margin-left: 10px;
              font-size: 20px;
            }
          }
          & > :last-child {
            color: $light-color;
            margin-top: 20px;
          }
        }
      }
      .slider {
        text-align: center;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        .selected {
          opacity: 0.4;
        }
        & > div {
          width: 30px;
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
}

//animation
@keyframes about-animation {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
