@import "src/assets/css/vars";

$Raleway: "Raleway", sans-serif;
.teacher-wrapper {
  height: 110vh;
  width: 100%;
  padding: 6vh 8vw;
  background: #333;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: $title-size;
    color: $primary-color;
  }
  .slick-slider {
    .slick-dots {
      bottom: -5vw;
      li {
        button {
          width: 20px;
          height: 20px;
          border: 1px solid #fff;
          border-radius: 20px;
          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            content: "";
            text-align: center;
            opacity: 0.5;
            color: #000;
            background-color: #fff;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
          }
        }
        &.slick-active,
        &:hover {
          button {
            border-color: tomato;
            &:before {
              background-color: tomato;
              opacity: 1;
            }
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      width: 50px;
      height: 50px;
      background-color: #fff;
    }
    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
      color: #fff;
      outline: none;
      background: #fff;
    }
    .slick-prev:before,
    .slick-next:before {
      color: #000;
      font-family: $Raleway;
    }
    .slick-next {
      right: -55px;
    }
    .slick-prev {
      left: -55px;
    }
  }
}
.card-wrapper {
  position: relative;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
} //card-wrapper

.card {
  width: 100%;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 0.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } //card-image
  &:hover {
    img {
      opacity: 0.4;
      transition: 0.5s;
    }
    .card-image {
      transform: translateY(-100px);
      transition: all 0.9s;
    }
  }
} //card

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: 0.4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
} //social-icons

.card:hover {
  .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
  }
}
.social-icons li a:hover {
  background: #000;
  transition: 0.2s;
  .fa {
    color: #fff;
  }
}
.social-icons li a .fa {
  transition: 0.8s;
  &:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}
.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}
.details {
  position: absolute;
  bottom: 400px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
  transition: 0.6s;
  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
    .job-title {
      font-size: 16px;
      line-height: 2;
      color: #333;
      font-weight: 300;
      display: block;
    }
  }
}

.card:hover {
  .details {
    bottom: 0;
  }
}
