.course-card {
  border: 1px solid rgba(151, 150, 150, 0.5);
  width: 25vw;
  min-width: 300px;
  border-radius: 4px;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: 24px;
  display: none;
  animation-name: course-animation;
  animation-duration: 0.6s;
  position: relative;
  .image-div {
    width: 100%;
    height: 300px;
    background: #000;
    img {
      width: 100%;
      height: 100%;
      padding: 0;
      object-fit: cover;
      object-position: center;
    }
  }
  .course-card-title {
    text-align: center;
    padding: 10px 20px;
  }
  .course-card-desc {
    font-size: 14px;
    color: gray;
    padding: 0px 20px;
    text-align: center;
  }
  .course-slider-buttons {
    background: #000;
  }
}

//animation
@keyframes course-animation {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
