@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
//colors
$primary-color: #2d7fc7;
$success-color: #4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;
$secondary-color: #0a96c1;
$dark-primary: #042d47;
$primary-font-color: #343231;
$accent-color: #4c8d29;
$light-color: white;
$dark-color: black;
$light-dark-color: #ddd;
$primary-gradient: linear-gradient(330deg, #00bcd4, #2196f3);
$primary-button-shadow: #1b9cee9e;
$transparency: rgba(0, 0, 0, 0.12);
$info-color: #2196f3;
$primary-hover: #005a91;
$text-color: #2e2e2e;
$primary-text-color: #07337e;

//fonts
$title-font: "Poppins", serif;
$title-size: 1.6rem;
$sub-title-size: 1.6rem;
$primary-font: "Poppins", sans-serif;
$card-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
$button-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
$border-radius: 8px;
$button-radius: 8px;
$standard-font-size: 14px;
$info-font-size: 12px;
$header-font-size: 16px;
$menu-font-size: 0.95rem;

//sizes
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;

//layout
$padding-val: 6.5vw;
$section-padding: 8vh 7.5vw;
$wrapper-val: 2.5vw;

//text
$description-text-size: 14px;
