@import "src/assets/css/vars.scss";
.video-section {
  .iframe {
    width: 100vw;
    height: 70vh;
    border: none;
  }
  .desc {
    position: relative;
    top: -55vh;
    z-index: 111;
    color: $light-color;
    text-transform: uppercase;
    .video-title {
      font-size: 40px;
      text-align: center;
    }
    .video-subtitle {
      text-align: center;
    }
    .play-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      & > :first-child {
        background: $primary-color;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 40px;
        }
      }
    }
  }
}
