@import "src/assets/css/vars";

.our-courses {
  padding: 0 10vw;
  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    .title {
      font-size: 30px;
      color: $primary-color;
    }
    .sub-title {
      font-size: 0.9rem;
    }
    .deco {
      height: 2px;
      margin-bottom: 5vh;
      width: 20%;
      background: rgba(104, 101, 101, 0.5);
      img {
        position: relative;
        top: -1.2vh;
        left: 9vw;
      }
    }
  }
  .course-cards {
    height: 70vh;
    min-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-x: hidden;
  }
  .course-slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
    .selected {
      background: $dark-color;
    }
    & > div {
      cursor: pointer;
      height: 20px;
      width: 20px;
      border: 3px solid black;
      opacity: 0.7;
      border-radius: 50%;
      margin-left: 10px;
      &:hover {
        opacity: 1;
        background: #000;
        opacity: 0.7;
      }
    }
  }
}
