@import "src/assets/css/vars.scss";
.news {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 24vh;
  background: #ed912acc;
  margin-top: -10px;
  flex-wrap: wrap;
  color: $light-color;
  box-sizing: border-box;
  overflow: hidden;
  .news-slider-title {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px 70px;
    border-right: 1px solid $light-color;
  }
  .news-feed {
    position: relative;
    animation-name: news-feed-animation;
    animation-duration: .35s;
    .news-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .news-slider {
    & > div {
      cursor: pointer;
      border: 2px solid $light-color;
      border-radius: 50%;
      height: 26px;
      width: 26px;
      display: flex;
      padding: 1px;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
      opacity: 0.7;
    }
    & > :hover {
      opacity: 1;
    }
    & > :first-child {
      i {
        margin-top: -3px;
      }
    }
  }
}

//responsive design
@media (max-width: 520px) {
  .news-slider {
    display: flex;
    & > div {
      margin-left: 20px;
      margin-bottom: 8vh;
    }
  }
}

//animations
@keyframes news-feed-animation {
  0% {
    top: -50%;
  }
  10% {
    top: -40%;
  }
  20% {
    top: -30%;
  }
  30% {
    top: -20%;
  }
  40% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}
