@import "src/assets/css/vars.scss";
.notice {
  background: #ed912acc;
  height: 20vh;
  margin-top: -27vh;
  color: $light-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6vh 0vw;
  flex-wrap: wrap;
  .desc{
      .notice-title{
          font-size: 26px;
          font-weight:11px;
      }
  }
  .enroll-btn{
      border: 2px solid $light-color;
      height: 6vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:0 20px;
      margin-top: 10px;
      border-radius: 8px;
      opacity: .7;
      cursor: pointer;
      &:hover{
          opacity: 1;
      }
  }
}
@media(max-width:690px){
    .notice{
        padding-top: 7vh;
        height: 25vh;
    }
}
@media(max-width:575px){
    .notice{
        padding-top: 7vh;
        height: 30vh;
    }
}
@media(max-width:490px){
    .notice{
        padding-top: 7vh;
        height: 30vh;
        margin-top: -32vh;
    }
}

