@import "src/assets/css/vars.scss";

.message-from-principal-div {
  padding: 8vh 10vw;
  min-height: 150vh;
  .message-from-principal-header {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: $warning-color;
  }
  .message-from-principal {
    display: flex;
    .image {
      flex: 1;
      padding-right: 10px;
      padding-top: 10px;
      img {
        width: 100%;
        border-radius: 4px;
      }
    }
    .text {
      flex: 1;
      font-size: $description-text-size;
      .info {
        padding: 10px 20px;
      }
    }
  }
}

@media (max-width: 650px) {
  .message-from-principal {
    flex-direction: column;
  }
}
