@import "src/assets/css/vars.scss";
.header {
  background: #333;
  clip-path: polygon(29% 0, 100% 0, 100% 100%, 32% 100%);
  height: 5vh;
  border-top: 1px solid $light-color;
  .info {
    width: 60%;
    margin-left: 32vw;
    display: flex;
    height: 100%;
    justify-content: space-between;
    .tag-line {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      color: $light-color;
      overflow: hidden;
      & > div {
        overflow: hidden;
        height: 2.2vh;
        width: 18vw;
      }
    }
    .social-links {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      & > div {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $light-color;
        background: transparent;
        border-radius: 50%;
        i {
          font-size: 14px;
          color: $light-color;
        }
      }
    }
    .quick-links {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      & > div {
        padding: 3px 10px;
        color: $light-color;
        border: 1px solid $light-color;
        font-size: 14px;
        a {
          color: white;
        }
      }
    }
  }
}
.info-section {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8vh 10vw;
  .logo {
    flex: 1;
    img {
      margin-top: 8px;
      height: 100px;
    }
  }
  .info {
    flex: 2;
    display: flex;
    .contact {
      flex: 1;
      display: flex;
      & > :first-child {
        background: transparent;
        border: 2px solid gray;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        i {
          color: gray;
        }
      }
      & > :last-child {
        padding: 0 10px;
        font-size: 13px;
      }
    }
    .email {
      flex: 1;
      display: flex;
      & > :first-child {
        background: transparent;
        border: 2px solid gray;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        i {
          color: gray;
        }
      }
      & > :last-child {
        padding: 0 10px;
        font-size: 13px;
      }
    }
  }
  .location {
    flex: 1;
    display: flex;
    & > :first-child {
      background: transparent;
      border: 2px solid gray;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4px;
      i {
        color: gray;
      }
    }
    & > :last-child {
      padding: 0 10px;
      font-size: 13px;
    }
  }
}

@media (max-width: 921px) {
  .header {
    .quick-links {
      display: none !important;
    }
  }
}
@media (max-width: 650px) {
  .header {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    .info {
      margin-left: 50px;
      width: 100%;
      justify-content: space-around;
    }
    .quick-links {
      display: none !important;
    }
    .social-links {
      padding-right: 50px;
      & > div {
        width: 22px !important;
        height: 22px !important;
        i {
          font-size: 12px !important;
        }
      }
    }
    .tag-line {
      width: 40%;
      & > div {
        width: 100% !important;
      }
    }
  }
}
@media (max-width: 450px) {
  .header {
    height: 8vh;
    .info {
      margin-left: 0;
      flex-direction: column;
      .tag-line {
        width: 100%;
        padding: 4px 0;
        text-align: center;
      }
      .social-links {
        width: 100%;
        padding: 0 10px;
        justify-content: center;
        & > div {
          margin: 4px 12px;
        }
      }
    }
  }
}

//for info section resposive
@media (max-width: 1250px) {
  .info-section {
    padding: 10vh 8vw;
  }
}
@media (max-width: 1120px) {
  .info-section {
    padding: 10vh 4vw;
  }
}

@media (max-width: 1000px) {
  .info-section {
    padding: 10vh 0vw;
  }
}
@media (max-width: 850px) {
  .info-section {
    .info {
      flex-direction: column;
      justify-content: center;
      .contact,
      .location,
      .email {
        & > :last-child {
          display: flex;
          padding: 8px 8px;
          & > div {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 670px) {
  .info-section {
    .info {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      & > div {
        width: 40vw;
      }
      .email,
      .contact,
      .location {
        & > :last-child {
          flex-direction: column;
          padding: 0px 0px;
          & > div {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .info-section {
    flex-direction: column;
    padding: 1vh 0;
    .info {
      width: 100vw !important;
      align-items: center;
      .contact,
      .email,
      .location {
        width: 65%;
        & > :first-child {
          display: none;
        }
        & > :last-child {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          & > div {
            display: flex;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 460px) {
  .info-section {
    .info {
      .contact,
      .email,
      .location {
        width: 100%;
      }
    }
  }
}
