@import "src/assets/css/vars.scss";
.faq-card {
  margin-bottom: 20px;
  background: #f6f6f6;
  box-sizing: border-box;
  padding: 3vh 4vw;
  .title-div {
    display: flex;
    justify-content: space-between;
    .faq-title {
      text-transform: uppercase;
    }
    .plus-btn {
      cursor: pointer;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 36% 100%);
      font-size: 24px;
      background: #333;
      width: 5vw;
      color: $light-color;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6vh;
      padding-left: 8px;
      &.active{
          background: #FFB118;
      }
    }
  }
  .faq-description {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
  }
 
}
