@import "src/assets/css/vars";

$Raleway: "Raleway", sans-serif;

.course-wrapper {
  height: 110vh;
  width: 100%;
  padding: 8vh 8vw;
  background: white;
   .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    .title {
      font-size: 30px;
    }
    .sub-title {
      font-size: 0.9rem;
    }
    .deco {
      height: 2px;
      margin-bottom: 5vh;
      width: 50%;
      background: rgba(184, 180, 180, 0.5);
      img {
        position: relative;
        top: -1.2vh;
        left: 10vw;
      }
    }
  }
  .slick-slider {
    .slick-dots {
      bottom: -2.5vw;
      li {
        button {
          width: 20px;
          height: 20px;
          border: 1px solid $primary-color;
          border-radius: 20px;
          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            content: "";
            text-align: center;
            opacity: 0.5;
            color: #000 !important;
            background-color: black;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
          }
        }
        &.slick-active,
        &:hover {
          button {
            border-color: tomato;
            &:before {
              background-color: tomato;
              opacity: 1;
            }
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      width: 50px;
      height: 50px;
      background-color: #fff;
    }
    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
      color: #fff;
      outline: none;
      background: rgb(128, 127, 127);
    }
    .slick-prev:before,
    .slick-next:before {
      color: #000;
      font-family: $Raleway;
    }
    .slick-next {
      right: -55px;
    }
    .slick-prev {
      left: -55px;
    }
  }
}
