@import "src/assets/css/vars";

.our-courses {
  padding: 0 10vw;
  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    .title {
      font-size: 30px;
      color: $primary-color;
    }
    .sub-title {
      font-size: 0.9rem;
    }
    .deco {
      height: 2px;
      margin-bottom: 5vh;
      width: 20%;
      background: rgba(104, 101, 101, 0.5);
      img {
        position: relative;
        top: -1.2vh;
        left: 9vw;
      }
    }
  }
  .course-cards {
    height: 70vh;
    min-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-x: hidden;
  }
  .course-slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
    .selected {
      background: $dark-color;
    }
    & > div {
      cursor: pointer;
      height: 20px;
      width: 20px;
      border: 3px solid black;
      opacity: 0.7;
      border-radius: 50%;
      margin-left: 10px;
      &:hover {
        opacity: 1;
        background: #000;
        opacity: 0.7;
      }
    }
  }
}
* {
  margin: 0;
  padding: 0;
}
$Raleway: "Raleway", sans-serif;
.course-wrapper {
  height: 100vh;
  width: 100%;
  padding: 20vh 8vw;
  background: #333;
}
.card-wrapper {
  position: relative;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
} //card-wrapper

.card {
  width: 100%;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 0.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } //card-image
  &:hover {
    img {
      opacity: 0.4;
      transition: 0.5s;
    }
    .card-image {
      transform: translateY(-100px);
      transition: all 0.9s;
    }
  }
} //card

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: 0.4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
} //social-icons

.card:hover {
  .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
  }
}
.social-icons li a:hover {
  background: #000;
  transition: 0.2s;
  .fa {
    color: #fff;
  }
}
.social-icons li a .fa {
  transition: 0.8s;
  &:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}
.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}
.details {
  position: absolute;
  bottom: 400px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
  transition: 0.6s;
  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
    .job-title {
      font-size: 16px;
      line-height: 2;
      color: #333;
      font-weight: 300;
      display: block;
    }
  }
}

.card:hover {
  .details {
    bottom: 0;
  }
}

.slick-dots {
  bottom: -5vw !important;
  li {
    button {
      width: 20px !important;
      height: 20px !important;
      border: 1px solid #fff !important;
      border-radius: 20px !important;
      &:before {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        width: 10px !important;
        height: 10px !important;
        border-radius: 10px !important;
        content: "" !important;
        text-align: center !important;
        opacity: 0.5 !important;
        color: #000 !important;
        background-color: #fff !important;
        transform: translate(-50%, -50%) !important;
        transition: all 0.3s ease-in-out !important;
      }
    }
    &.slick-active,
    &:hover {
      button {
        border-color: tomato !important;
        &:before {
          background-color: tomato !important;
          opacity: 1 !important;
        }
      }
    }
  }
}

.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
  background-color: white !important;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #fff !important;
  outline: none !important;
  background: #fff !important;
}
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
  font-family: $title-font !important;
}
.slick-next {
  right: -55px !important;
}
.slick-prev {
  left: -55px !important;
}
