body {
  display: flex;
  height: 70vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.form {
  height: 50px;
  width: 30%;
  overflow: hidden;
  box-sizing: border-box;
}
.input-group {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.input-group input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 1px solid green;
  padding-top: 18px;
  box-sizing: border-box;
  outline: none;
}
.input-group .name-label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
}
.input-group .name-label::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  border-bottom: 3px solid blue;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 2px;
  transition: all 0.3s ease;
}
.input-group input:focus + .name-label .content-name,
.input-group input:valid + .name-label .content-name {
  transform: translateY(-150%);
  color: blue;
}
.input-group input:focus + .name-label::after {
  transform: translateX(0);
}
