@import "src/assets/css/vars";
$Raleway: "Raleway", sans-serif;

.card-wrapper {
  position: relative;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  &:active,
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
} //card-wrapper

.card {
  width: 100%;
  background: white;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  border: .1px solid #333;
  position: relative;
  .image-div {
    width: 100%;
    height: 300px;
    background: #000;
    img {
      width: 100%;
      height: 100%;
      padding: 0;
      object-fit: cover;
      object-position: center;
    }
  }
  .course-card-title {
    text-align: center;
    padding: 10px 20px;
  }
  .course-card-desc {
    font-size: 14px;
    color: gray;
    padding: 0px 20px;
    text-align: center;
  }
  .course-slider-buttons {
    background: #000;
  }
}