@import "src/assets/css/vars.scss";
nav {
  background: #2d7fc7;
  height: 8vh;
  font-size: 14px;
  z-index: 999;
  position: sticky;
  top: 0;
  .menu-items {
    width: 100%;
    height: inherit;
    ul {
      display: flex;
      height: inherit;
      list-style: none;
      justify-content: space-evenly;
      align-items: center;
      color: $light-color;
      padding: 0 20vw;
      .ham-menu {
        display: none;
      }
      li {
        cursor: pointer;
        box-sizing: border-box;
        padding: 3px 20px;
        border-right: 1px solid $light-color;
        .fa {
          padding-left: 8px;
        }
        .sub-menu-1 {
          display: none;
          position: absolute;
          background: #2d7fc7;
          width: 18vw;
          margin-left: -2vw;
          z-index: 11111;
          ul {
            display: flex;
            padding: 0;
            padding-top: 2vh;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 18vw;
              border-right: none;
              padding: 15px 20px;
              border-bottom: 1px solid $light-color;
              .sub-menu-2 {
                display: none;
                position: absolute;
                margin-left: 16.3vw;
                margin-top: 10vh;
                background: #2d7fc7;
                transition: all 2s;
                ul {
                  padding: 0;
                  li {
                    a {
                      color: white;
                    }
                  }
                }
              }
              &:hover {
                .sub-menu-2 {
                  display: block;
                }
              }
            }
          }
        }
        &:hover {
          .sub-menu-1 {
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 840px) {
  nav {
    height: 6vh;
    .menu-items {
      ul {
        justify-content: flex-end;
        padding: 0 8vw;
        li {
          display: none;
        }
        .ham-menu {
          cursor: pointer;
          display: block;
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  nav {
    margin-top: 14vh !important;
    height: 5vh;
  }
}
