@import "src/assets/css/vars.scss";
.testimonial-card {
  .testimonial-desc {
    font-style: italic;
    padding: 2vh 4vw;
    background: #f6f6f6;
    opacity: .8;
  }
  .author {
    position: relative;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > :first-child {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 4px solid #c5bfbf;
      overflow: hidden;
      margin:0 20px;
      img {
        width: 100px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
