@import "./vars";
@import "./layout";

body {
  //background: rgba(0, 0, 0, 0.012);
  font-family: $primary-font;
}

//scrollbar
/* width */
/* width */
::-webkit-scrollbar {
  width: 10px;
  // display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//backgrounds
.primary-background {
  background: $primary-color;
}

.accent-background {
  background: $accent-color;
}

.light-background {
  background: $light-color;
}

.warning-background {
  background: $warning-color;
}

.light-text {
  color: $light-color;
}

.text-danger {
  color: $danger-color;
}
.text-primary {
  color: $primary-text-color;
}
.error-text {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

//cards
.card,
%card {
  padding: 10px;
  box-sizing: border-box;
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  overflow: hidden;
  transition: 0.3s;
}

//buttons
.btn {
  border: none;
  padding: 12px 30px;
  box-shadow: $button-shadow;
  border-radius: $button-radius;
  transition: 0.3s;
  font-family: $primary-font;
  margin-right: 3px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &.danger {
    color: white;
    background: $danger-color;
  }

  &.success {
    color: white;
    background: $success-color;
  }

  &:disabled {
    filter: brightness(0.8);
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &.big {
    font-size: 1.1rem;
    padding: 10px 25px;
  }

  &.primary {
    background: $primary-color;
    color: $light-color;

    &:disabled {
      background: #9665ee;
    }

    &.shaded {
      box-shadow: 0 10px 25px #ff69594f;
    }
  }

  &.secondary {
    background: $secondary-color;
    color: $light-color;

    &.shaded {
      box-shadow: 0 10px 25px #ff69594f;
    }
  }

  &.primary-outline {
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background: $primary-color;
      color: $light-color;
    }
  }

  &.accent-outline {
    color: $accent-color;
    border: 1px solid $accent-color;
    background: transparent;

    &:hover {
      background: $accent-color;
      color: $light-color;
    }
  }

  &.light-outline {
    color: $light-color;
    background: transparent;
    border: 1px solid $light-color;

    &:hover {
      background: rgba(255, 255, 255, 0.12);
    }
  }

  &.dark {
    background: $primary-font-color;
    color: $light-color;
  }
}

.primary-text {
  color: $primary-color;
}

.accent-text {
  color: $accent-color;
}

.bold {
  font-weight: bolder;
}

.icon-btn {
  height: 30px;
  width: 30px;
  background: transparent;
  @extend %flex-centered;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;

  &.circular {
    border-radius: 50%;
  }

  &.primary {
    background: $primary-color;
    color: white;
  }

  &.dark {
    background: $primary-font-color;
    color: white;
  }

  &.light {
    border: 1px solid $light-color;

    i {
      color: white;
    }

    &:hover {
      background: $light-color;

      i {
        color: $primary-font;
      }
    }
  }
}

.dark-mode {
  background: $primary-font-color;
  color: $light-color;
}

//
.view {
  height: 100vh;
  width: 100%;
}

//texts
%big-title,
.big-title {
  font-family: $title-font;
  font-size: 3rem;
  font-weight: bold;
}

%text-right,
.text-right {
  text-align: right;
}

%text-center,
.text-center {
  text-align: center;
}

%text-left,
.text-left {
  text-align: left;
}

%title,
.title {
  font-size: 20px;
  font-weight: bold;
  font-family: $title-font;
}

.primary-link {
  font-family: $primary-font;
  margin: 10px 0;
  color: $primary-color;
}

//animations
.fadeIn,
%fadeIn {
  animation: 0.3s fadeIn;
}

//
.logo {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.form-group {
  box-sizing: border-box;

  .address-container {
    width: 100%;
    box-sizing: border-box;

    .address-item {
      width: 21%;
      margin-right: 5px;
    }
  }

  .input-group {
    border-radius: $border-radius;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
      color: $dark-color;
    }

    label {
      width: 60%;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
      font-size: $standard-font-size;
      margin-bottom: 5px;
    }

    div.selected-box {
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: 10px 25px;
      display: flex;
      align-items: center;
      width: 200px;
      margin-right: 10px;
      border-radius: $border-radius;

      select {
        flex: 1;
        background: transparent;
        border: none;
        font-family: $primary-font;
        font-size: 1.04rem;

        &::placeholder {
          font-family: $primary-font;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    div.input-box {
      display: flex;
      align-items: center;
      padding: 10px;
      background: rgba(0, 0, 0, 0.05);
      border-radius: $border-radius;
      margin-bottom: 10px;
      input,
      select,
      textarea {
        flex: 1;
        background: transparent;
        border: none;
        font-family: $primary-font;
        font-size: $standard-font-size;

        &::placeholder {
          font-family: $primary-font;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    div.selected-box {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      border-radius: $border-radius;

      select {
        flex: 1;
        background: transparent;
        border: none;
        font-family: $primary-font;
        font-size: 1.04rem;

        &::placeholder {
          font-family: $primary-font;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }

  .error {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.button-area {
  margin-top: 20px;
}

//filterbar
.filter-bar {
  position: relative;
  background: white;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.05);
  padding: 13px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  height: 10vh;
  margin-bottom: 50px;

  .filter-input-container {
    .filter-bar-item {
      margin-right: 15px;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    .filter-input {
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      padding: 5px;
      margin-right: 5px;
      color: rgba(0, 0, 0, 0.8);
    }
    button {
      display: flex;
      margin-top: -8px;
      margin-left: 10px;
      justify-content: center;

      i {
        font-size: 20px;
      }
    }
  }
}

//lock item
.lock-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 65, 128, 0.83);

  i {
    color: white;
  }
}
a {
  text-decoration: none;
}
.view-all {
  cursor: pointer;
}
.error {
  color: $danger-color;
}
.activeTab {
  background: $primary-hover;
  color: $light-color;
}

//custom

.animated-input-form {
  height: 50px;
  width: 30%;
  overflow: hidden;
  box-sizing: border-box;
  .input-group {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
  .input-group input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid green;
    padding-top: 18px;
    box-sizing: border-box;
    outline: none;
  }
  .input-group .name-label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    pointer-events: none;
  }
  .input-group .name-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    border-bottom: 3px solid $primary-color;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .content-name {
    position: absolute;
    bottom: 2px;
    transition: all 0.3s ease;
  }
  .input-group input:focus + .name-label .content-name,
  .input-group input:valid + .name-label .content-name {
    transform: translateY(-120%);
    color: $primary-color;
    font-size: 14px;
  }
  .input-group input:focus + .name-label::after {
    transform: translateX(0);
  }
}
