body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.arrow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid blue;
  border-right: 5px solid blue;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}
.arrow span:nth-child(1) {
  animation-delay: 0.6s;
}
.arrow span:nth-child(2) {
  animation-delay: 0.4s;
}
.arrow span:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate((-20px, -20px));
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate((20px, 20px));
  }
}
