@import "src/assets/css/vars.scss";
.achievements {
  margin-top: 20vh;
  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    .title {
      margin-top: 4vh;
      font-size: 30px;
      color: $primary-color;
    }
    .sub-title {
      font-size: 0.9rem;
    }
    .deco {
      height: 2px;
      margin-bottom: 5vh;
      width: 20%;
      background: rgba(184, 180, 180, 0.5);
      img {
        position: relative;
        top: -1.2vh;
        left: 9vw;
      }
    }
  }
  .content {
    display: flex;
    padding: 10vh 20vh;
    justify-content: space-between;
    color: gray;
    flex-wrap: wrap;
    .item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon{
        i{
          font-size: 70px;
        }
      }
      .number{
        color: $primary-color;
        font-size: 40px;
      }
    }
  }
}
@media(max-width:600px){
  .achievements{
    .content{
      flex-direction: column;
    }
  }
}
