@import "src/assets/css/vars.scss";
.landing-view {
  .landing-overlay {
    position: absolute;
    background: #000;
    height: 46.5vw;
    width: 100vw;
    z-index: 10;
    opacity: 0.3;
  }
  &:hover {
    .prev,
    .next {
      display: flex;
    }
  }
  .prev,
  .next {
    position: absolute;
    z-index: 1111;
    height: 14vh;
    background: $primary-color;
    display: none;
    justify-content: center;
    align-items: center;
    width: 2vw;
    top: 60vh;
    animation-name: arrows;
    animation-duration: 1s;
    i {
      color: $light-color;
    }
  }
  .next {
    right: 0;
  }
  .slides {
    img {
      position: relative;
      width: 100vw;
      object-position: center;
      filter: grayscale(10%);
      animation-name: image-slide;
      animation-duration: 0.2s;
    }
    .text-area {
      width: 100vw;
      position: absolute;
      top: 50%;
      height: 30vh;
      text-align: center;
      color: white;
      z-index: 111;
      .title {
        text-transform: uppercase;
        font-size: 4vw;
      }
      .sub-title {
        font-size: 1.8vw;
      }
      .button {
        margin-top: 20px;
        background: #ff9118;
        padding: 2vh 4vw;
        border-radius: 5px;
        font-size: 16px;
        border: none;
        font-weight: bold;
        color: $light-color;
      }
    }
  }
}
@media (max-width: 680px) {
  .prev,
  .next {
    display: none !important;
  }
  .text-area {
    top: 45% !important;
  }
}
@media (max-width: 540px) {
  .text-area {
    .sub-title {
      display: none;
    }
  }
}
@media (max-width: 450px) {
  .text-area {
    top: 40% !important;
    .title {
      font-size: 24px !important;
    }
  }
}
@keyframes arrows {
  0% {
    background-color: $light-color;
  }
  50% {
    background-color: rgb(142, 182, 235);
  }
  100% {
    background-color: $primary-color;
  }
}
@keyframes image-slide {
  0% {
    left: 00%;
  }
  10% {
    left: 10%;
  }
  20% {
    left: 20%;
  }
  30% {
    left: 30%;
  }
  40% {
    left: 40%;
  }
  50% {
    left: 50%;
  }
  60% {
    left: 60%;
  }
  70% {
    left: 70%;
  }
  80% {
    left: 80%;
  }
  90% {
    left: 90%;
  }
  100% {
    left: 0%;
  }
}
