@import "./src/assets/css/vars.scss";

.login-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  .login {
    height: 58vh;
    width: 30%;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .inputs {
      width: 60%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .animated-input-form {
        width: 100%;
      }
    }
    .login-title {
      font-size: 24px;
      font-weight: bold;
    }
    .input-fields {
      background: #000;
      width: 100%;
    }
    .login-btn-div {
      display: flex;
      width: 60%;
      justify-content: space-between;
      & > button {
        width: 45%;
        color: white;
        height: 32px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
          opacity: 0.8;
        }
      }
      .login-btn {
        background: green;
      }
      .register-btn {
        background: red;
      }
    }
  }
}
